In [2]:
import pandas as pd

In [37]:
df = pd.read_csv('station-skill.txt', sep='\s+')

In [38]:
df

      station   min   max  mean
0       MRSTC  0.00  0.68  0.22
1    N64W1675  0.00  0.55  0.15
2     N63W173  0.00  0.76  0.24
3     N73W145  0.03  0.76  0.26
4     N63W171  0.00  0.69  0.22
..        ...   ...   ...   ...
300     NECPC  0.00  0.58  0.20
301  N612W173  0.00  0.67  0.12
302   N59W171  0.08  0.45  0.14
303    NUNV10  0.00  0.61  0.17
304  N74W1625  0.01  0.45  0.14

[305 rows x 4 columns]

In [42]:
df = (df
    .rename(
        columns={
            'min': 'rmse_min',
            'max': 'rmse_max',
            'mean': 'rmse_mean'
        }
    ))
df

      station  rmse_min  rmse_max  rmse_mean
1    N64W1675      0.00      0.55       0.15
2     N63W173      0.00      0.76       0.24
3     N73W145      0.03      0.76       0.26
4     N63W171      0.00      0.69       0.22
5      PABA20      0.00      0.42       0.15
..        ...       ...       ...        ...
300     NECPC      0.00      0.58       0.20
301  N612W173      0.00      0.67       0.12
302   N59W171      0.08      0.45       0.14
303    NUNV10      0.00      0.61       0.17
304  N74W1625      0.01      0.45       0.14

[304 rows x 4 columns]

In [44]:
df.min()

station      BRST10
rmse_min        0.0
rmse_max        0.0
rmse_mean       0.0
dtype: object

In [45]:
df.max()

station      YKRDC
rmse_min      0.08
rmse_max      0.77
rmse_mean     0.26
dtype: object

In [46]:
df.mean()

rmse_min     0.008289
rmse_max     0.436579
rmse_mean    0.137993
dtype: float64

In [47]:
df.rmse_min.argmax()

301

In [48]:
df.rmse_max.argmax()

88

In [49]:
df

      station  rmse_min  rmse_max  rmse_mean
1    N64W1675      0.00      0.55       0.15
2     N63W173      0.00      0.76       0.24
3     N73W145      0.03      0.76       0.26
4     N63W171      0.00      0.69       0.22
5      PABA20      0.00      0.42       0.15
..        ...       ...       ...        ...
300     NECPC      0.00      0.58       0.20
301  N612W173      0.00      0.67       0.12
302   N59W171      0.08      0.45       0.14
303    NUNV10      0.00      0.61       0.17
304  N74W1625      0.01      0.45       0.14

[304 rows x 4 columns]

In [50]:
df.iloc[301]

station      N59W171
rmse_min        0.08
rmse_max        0.45
rmse_mean       0.14
Name: 302, dtype: object

In [51]:
df.iloc[88]

station      N634W1734
rmse_min           0.0
rmse_max          0.77
rmse_mean         0.25
Name: 89, dtype: object

In [52]:
df.rmse_mean.argmax()

2

In [53]:
df.iloc[2]

station      N73W145
rmse_min        0.03
rmse_max        0.76
rmse_mean       0.26
Name: 3, dtype: object